*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 60.5%; }

body {
  box-sizing: border-box;
  font-size: 1.3rem;
  line-height: 1.7;
  font-family: "Nunito", sans-serif;
  color: #ccc; }

.nav {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__logo {
    margin-right: auto; }
  .nav__list {
    display: flex;
    justify-content: space-between;
    list-style: none; }
  .nav__item {
    margin: 3rem;
    color: var(--color-text); }
  .nav__link:link, .nav__link:active {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none; }

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 95vh repeat(3, 200px); }

.header {
  background-image: linear-gradient(rgba(6, 38, 48, 0.9), rgba(11, 77, 97, 0.9)), url(../images/photo-1.jpeg);
  background-size: cover;
  background-position: bottom;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column; }

.projects {
  background-color: #eeeeee;
  grid-column: 1 / -1;
  grid-row: 2 / 3; }

.contact {
  background-color: #f26;
  grid-column: 1 / -1;
  grid-row: 3 / 4; }

.footer {
  background-color: #0a0a0a;
  grid-column: 1 / -1;
  grid-row: 4 / 5; }
