*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1rem; }

.header {
  height: 95vh;
  background-color: #aaa;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent), url(../images/hero.jpeg);
  background-size: 100%;
  object-fit: cover; }
