*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --color-text: #c1c1c1;
}

html {
    font-size: 60.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.3rem;
    line-height: 1.7;
    font-family: "Nunito", sans-serif;
}